name: Documentation

on:
  push:
    branches: [main]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: pages
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf-rust:esp32_latest
      options: --user 1001:1001
    env:
      HOME: /home/esp
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Build documentation
        env:
          ESP_IDF_VERSION: v5.3.3
          ESP_IDF_SYS_ROOT_CRATE: esp-idf-ableton-link
          ESP_IDF_SDKCONFIG_DEFAULTS: sdkconfig.defaults.documentation
        run: |
          . /home/esp/export-esp.sh
          cargo doc --target xtensa-esp32-espidf -Zbuild-std=std
          # Add redirect index.html to the crate's documentation
          echo '<meta http-equiv="refresh" content="0; url=esp_idf_ableton_link/index.html">' > target/xtensa-esp32-espidf/doc/index.html

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/xtensa-esp32-espidf/doc

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
